.header {
    /* To make the header stick to top we write the below 2 lines of code */
    position: sticky;
    top: 0;
    /* end   */
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
}

.header__left {
    display: flex;
}

.header__left .linkedin {
    color: rgb(84, 115, 238);
    font-size: 2.8rem;
    object-fit: contain;
    margin-right: 10px;
}


.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}


.header__search>input {
    outline: none;
    border: none;
    background: none;
}

.header__right {
    display: flex;
}